.top img{
    background: whitesmoke;
    border-radius: 46%;
}

caption{
    caption-side: bottom;
    color: floralwhite;
}

.skills{
    border-collapse: collapse;
    /*border: 2px solid rgb(200, 200, 200);*/
    letter-spacing: 1px;

}
.skills td, th{
    /*border: 1px solid rgb(190, 190, 190);*/
    padding: 7px 5px;
    text-align: left;
}
body{
    background-color: #FA7070;
}
hr{
    color: #FBF2CF;
    border-style: none;
    border-top-style: none;
    height: 2px;
    border-top: dotted 5px;
    width: 5%;
}
h1, h3{
    color: #FFE9A0;
}
.top{
    align-items: center;
}
a{
    color: #F5E8E4;
    background-color: transparent;
    text-decoration: unset;
}
a:hover{
    color: floralwhite;
}
img{
    background-color: #FCE2DB;
    border-radius: 50%;
}
.workexp{
    text-align: center;
}
.workexp table{
    margin-left: auto;
    margin-right: auto;
}
.myskill{
    text-align: center;
}
.myskill table{
    margin-right: auto;
    margin-left: auto;
}
.footer{
    text-align: center;
}
